<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.campusToutiao.CampusToutiaoEE.dao.NewsCategoryMapper" >
  <resultMap id="BaseResultMap" type="com.campusToutiao.CampusToutiaoEE.entity.NewsCategory" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="category_name" property="categoryName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, category_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_news_category
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="getAllCategoryCount" resultType="java.lang.Integer" >
    select count(1)
    from tb_news_category
  </select>
  <select id="getAllNewsCategory" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_news_category
  </select>
  <select id="getCategoryList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_news_category
    limit #{pageIndex,jdbcType=INTEGER}, #{pageSize,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_news_category
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.campusToutiao.CampusToutiaoEE.entity.NewsCategory" >
    insert into tb_news_category (id, category_name)
    values (#{id,jdbcType=INTEGER}, #{categoryName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.campusToutiao.CampusToutiaoEE.entity.NewsCategory" >
    insert into tb_news_category
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="categoryName != null" >
        category_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="categoryName != null" >
        #{categoryName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.campusToutiao.CampusToutiaoEE.entity.NewsCategory" >
    update tb_news_category
    <set >
      <if test="categoryName != null" >
        category_name = #{categoryName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.campusToutiao.CampusToutiaoEE.entity.NewsCategory" >
    update tb_news_category
    set category_name = #{categoryName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>